{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kiosk</title>

    <script>
      setTimeout(function play() {
        var audio = document.getElementById("audio");
        audio.play();
      }, 1000);

    </script>
</head>
<body>

  <div style="width:100%; margin:0 auto; text-align:center;">
    <!--<a href="{% url 'kiosk:test' %}">  onclick="play();"-->
    <a href="{% url 'kiosk:test' %}" >
      <img src="{% static '/images/kiosk.png' %}" style=" max-width:100%; "/>
    </a>

    <audio id="audio" src="{% static 'tts.mp3' %}"/>
  </div>

</body>
</html>
