{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'barcode/style.css' %}" />
<script type="text/javascript" src="{% static 'barcode/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'barcode/barcode.js' %}"></script>



<script type="text/javascript">

var sound = new Audio("{% static 'barcode/barcode.wav' %}");
var bar = 1;

$(document).ready(function() {

	barcode.config.start = 0.1;
	barcode.config.end = 0.9;
	barcode.config.video = '#barcodevideo';
	barcode.config.canvas = '#barcodecanvas';
	barcode.config.canvasg = '#barcodecanvasg';
	barcode.setHandler(function(barcode) {
		$('#result').html(barcode);
		bar = barcode
	});
	barcode.init();

	$('#result').bind('DOMSubtreeModified', function(e) {
		sound.play();
	});

});

function sendToken(){
        $.ajax({
          type: "POST",
          url: "{% url 'object:send' %}",
          headers: {
            "X-CSRFTOKEN": "{{ csrf_token }}",
          },
          data: {'result':bar}
        });
	}


function play() {
	var audio = document.getElementById("audio");
	audio.play();
}

</script>

</head>
<body>

	<div id="barcode" style="width:100%; height:100%; margin:0 auto; text-align:center;">
		<video id="barcodevideo" autoplay playsinline></video>
		<canvas id="barcodecanvasg"></canvas>
	</div>

	<canvas id="barcodecanvas" ></canvas>
	<div id="result"></div>

	<a onclick="sendToken();" style="text-decoration-line: none; color: red; font-size: 50px; -webkit-tap-highlight-color: transparent;">전송을 클릭하면 바코드 값이 넘어갑니다.</a>
	<a onclick="play();" style="text-decoration-line: none; color: black; font-size: 50px; -webkit-tap-highlight-color: transparent;">플레이</a>


    <audio id="audio" src="{% static 'barcode.mp3' %}"/>

</body>
</html>

{% endblock %}